@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
    
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
nav a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left:4rem ;
    transition: 0.3s;
}
nav a:hover{
    color: var(--main-color);
}
nav a.on{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}
@media (max-width:410px) {
    .header{
    position: fixed;
   
    width: 100vw;
    }
    .header .logo{
        margin-left:-2rem;
    }
    .header .nav{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
    }
    
}
/* =================================home-section==================================== */
.home{
    display: flex;
    justify-content: center;
    align-items: center;


}
.home-img img{
    width: 35vw;
    margin-left: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 2rem 0 var(--main-color);
}
.home-img{
    width: 35vw;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}


 
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    
}
.social-media a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding:  1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:  0 0 1rem var(--main-color);
    font-size: 1.6rem;
    column-rule-color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
@media (max-width:410px){
    
    
    .home-content{
        display: block;
        margin-left:3pxz;
        margin-top: 5rem;
        overflow: visible;
        display: block;
        width: 19rem;
    }
    .home-content .job{
         font-size: 20px;

    }.home-content p{
        min-width: 10px;
    }
    .home-img .img-layout{
        position: absolute;
        margin-top: 2rem;
        margin-left:-5rem ;
        
    }
    
    .social-media{
        display:grid;
        grid-template-columns: repeat(3, 50px); 
        grid-template-rows: repeat(2, 50px);
        gap:10px;
        margin-top: -2rem;
        padding: 0 0 20px 0;
        
    }
    .home-content .btn{
        position: absolute;
        font-size: 12px;
        margin-left: 5rem;
        padding: 10px;
        margin-top: -4rem;
    }
}
/* =================================about-section==================================== */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    

}
.about-img img{
    width: 37vw;
    height: 30%;
    border-radius: 50%;
    box-shadow:0 0 2rem 0 var(--main-color);
    margin-left: -1rem;
}
.heading{
    text-align: center;
    font-size:4.5rem;
    

}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    margin-left: 5rem;
    

}
.about-content h3{
    font-size: 2.6rem;
    margin-left: 5rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    margin-left: 5rem;
}
.about-content .btn{
    margin-left: 5rem;
    
}
@media (max-width:410px){
    .about{
        display: flex;
        gap: 0.5rem;
        
    }
    .about .about-img{
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-top: 8%;
    }
    .about .heading{
        font-size:4.5rem;
    }
   
    .about-content p{
        
        padding: 2px;
        font-size: 14px;
        width: 70%;

    }
    .about-content .btn{
        font-size: 14px;
    }
}
/* =============================skills-section======================================= */
.services h2{
    margin-bottom: 4rem;
}
 .service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.service-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    border-radius: 2rem;

}  
.service-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
} 
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
@media (max-width:410px){
    .service-container .services-box{
    height: 20%;
    padding: 1rem 1rem 3rem;
    width: 40%;
}
.services-box i{
    font-size: 4rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2rem;
}
.services-box p{
    font-size: 1rem;
    margin: 1rem 0 3rem;
}
    

}

/* =================================portfolio-section=============================== */
.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:  0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;

}
.portfolio-box:hover img{
    transform:scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;

}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-box{
    height: 210px;
}
.portfolio-layer h4{
    font-size:3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio a i{
font-size: 2rem;
color: var(--second-bg-color);
}
@media (max-width:410px){
    .portfolio-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-left: -0.8rem;

}


.portfolio-box{
    height: 110px;
    width:150px;
}

.portfolio-layer h4{
    font-size:2rem;
}
.portfolio-layer p{
    font-size: 0.8rem;
    margin: .3rem 0 1rem;
}
.heading{
    font-size: 5rem;
}
}

/* ==================================contact-section================================= */
.contact h2{
    margin-top: -3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
@media (max-width:410px)
{
    .input-box{
        display: grid;
        grid-template-columns: repeat(2,20px);
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 20px;
        margin-right: 30px;
        

    }
    .contact form .input-box input{
    width: 82vw;
    margin-left: -2rem;
}
}
/* ====================================footer======================================== */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icontop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icontop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
@media(max-width:410px){
    .footer-text p{
        
        font-size: 10px;
    }
}
    

/* ==================================end============================================ */
